body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container{
    height: 300px;
    width: 500px;
    box-shadow: 0 0 10px black;
  }

  .container div{
    height: 100px;
    width: 100%;
  }

  .green{
    background-color: #046a38;
  }

  .white{
    background-color: #ffffff;
    background-image: url("ashoka-chakra.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
  }

  .orange{
    background-color: #ff671f;
  }